{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ title  }}</h2><br/><br/><br/>
    <button type="button" class="btn btn-primary btn-lg"><a href="{{path('add_actor')}}">Ajouter un acteur</a></button>

{% endblock %}