{% extends 'base.html.twig' %}
{% block head %}
		<meta charset="utf-8" >
		<title>Project</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/style.css" rel="stylesheet" />
	{% endblock  %}
{% block body %}


 {{ include('Layouts/partials/_nav.html.twig') }}
			

	<h1>Bonjour {{ app.user.uuid }}</h1>
			

		
{% endblock %}

